{{ block "count" . }}
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Server Visits</title>
    <link rel="stylesheet" href="style.css">
    </head>
    <body>
        {{ template "countForm" . }}
    </body>
    <script src="/static/js/count.js"></script>
</html>
{{ end }}

{{ block "countForm" . }}
<h1>Server Visits</h1>
<!-- <button id="count-button">Visit</button> -->
<form id="form-post-visit">
    <p>POST about your visit!</p>
    <input type="text" name="text"/>
    <input type="submit" value="POST"/>
</form>
<p id="count">{{ .Count }}</p>
{{ end }}
