{{ block "guess_capitals" . }}
<!DOCTYPE html>
<html>
    <body>
        {{ template "header" . }}
        <h2>Guess the Capital</h2>
        {{ template "nav" }}
        <main>
            <div id="result-container">
                {{ if .Payload.Passed }}
                    <p>{{ .Payload.AnswerCountry.Name.CommonName }}</p>
                    {{ range .Payload.AnswerCountry.Capitals }}
                        <p>{{ . }}</p>
                    {{ end }}
                {{ else }}
                {{ end }}
                <i class="country-flag-icon">{{ .Payload.AnswerCountry.FlagEmoji}}</i>
                <p class="country-population">{{ WithCommas .Payload.AnswerCountry.Population }}</p>
            </div>
            <div id="guess-container">
                <!-- render guess country -->
                {{ if .Payload.GuessCountry }}
                    {{ if .Payload.Passed }}
                        <p>Congrats! You got it right</p>
                    {{ else }}
                        <p>Wrong! You guessed:</p>
                        {{ if .Payload.GuessCountry.Name.CommonName }}
                            <p>{{ .Payload.GuessCountry.Name.CommonName }}</p>
                        {{ else }}
                            <p>I couldn't find that capital...</p>
                        {{ end }}
                        {{ if .Payload.GuessCountry.FlagEmoji }}
                            <i class="country-flag-icon">{{ .Payload.GuessCountry.FlagEmoji }}</i>
                        {{ end }}
                        {{ if .Payload.GuessCountry.Population }}
                            <p class="country-population">{{ WithCommas .Payload.GuessCountry.Population }}</p>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </div>
            <search>
                <fieldset>
                    <legend>Guess the Capital</legend>
                    {{ if not .Payload.Passed }}
                        <form id="guess-capital-form" method="POST">
                            <label for="guess-capital">Country</label>
                            <input type="text" id="guess-capital" name="guess-capital" list="country-list" required/>
                            <datalist id="country-list">
                                {{ range .Payload.Countries }}
                                    {{ range .Capitals }}
                                    <option value="{{ . }}"></option>
                                    {{ end }}
                                {{ end }}
                            </datalist>
                            <input type="submit" value="Submit Guess"/>
                        </form>
                    {{ end }}
                    <form id="next-guess-form" method="GET">
                        <input id="next-guess-submit" type="submit" value="Next Guess"/>
                    </form>
                </fieldset>
            </search>
        </main>
    </body>
</html>
{{ end }}
