{{ block "guess_capitals" . }}
<!DOCTYPE html>
<html>
    {{ template "header" . }}
    <body>
        <h2>Guess the Capital</h2>
        {{ template "nav" }}
        <main>
            <div id="result-container">
                {{ if .Payload.Passed }}
                    <p>{{ .Payload.AnswerCountry.Name.CommonName }}</p>
                    {{ range .Payload.AnswerCountry.Capitals }}
                        <p>{{ . }}</p>
                    {{ end }}
                {{ else }}
                {{ end }}
                <i class="country-flag-icon">{{ .Payload.AnswerCountry.FlagEmoji}}</i>
                <p class="country-population">{{ .Payload.AnswerCountry.Population }}</p>
            </div>
            <div id="guess-container">
                {{ if .Payload.GuessCountry }}
                    {{ if .Payload.Passed }}
                        <p>Congrats! You got it right</p>
                    {{ else }}
                        <p>Wrong!</p>
                    {{ end }}
                {{ end }}
            </div>
            <search>
                <fieldset>
                    <legend>Guess the Capital</legend>
                    {{ if not .Payload.Passed }}
                        <form id="guess-capital-form" method="POST">
                            <label for="guess-capital">Country</label>
                            <input type="text" id="guess-capital" name="guess-capital" list="country-list"/>
                            <datalist id="country-list">
                                {{ range .Payload.Countries }}
                                    {{ range .Capitals }}
                                    <option value="{{ . }}"></option>
                                    {{ end }}
                                {{ end }}
                            </datalist>
                            <input type="submit" value="Submit Guess"/>
                        </form>
                    {{ end }}
                    <form id="next-guess-form" method="GET">
                        <input id="next-guess-submit" type="submit" value="Next Guess"/>
                    </form>
                </fieldset>
            </search>
        </main>
    </body>
<!-- <script type="module" src="static/js/guessCountries.js"></script> -->
</html>
{{ end }}
