{{ block "guess_countries" . }}
<!DOCTYPE html>
<html>
    {{ template "header" . }}
    <body>
        <h1>Guess the Country</h1>
        {{ template "nav" . }}
        {{ template "user-card" . }}
        <main>
            <div class="flag-container">
                {{ if .Passed }}
                <div>{{ .AnswerCountry.Name.CommonName }}</div>
                {{ end }}
                <i class="country-flag-icon">{{ .AnswerCountry.FlagEmoji}}</i>
                <p class="country-population">Population: {{ WithCommas .AnswerCountry.Population }}</p>
            </div>
            <div class="flag-container">
                <!-- render guess country -->
                {{ if .GuessCountry }}
                    {{ if .Passed }}
                    <p><span style="color:green;">Correct!</span> You got it right</p>
                    {{ else }}
                    <p><span style="color:red;">Wrong!</span> You guessed:</p>
                        {{ if .GuessCountry.Name.CommonName }}
                            <p>{{ .GuessCountry.Name.CommonName }}</p>
                            <i class="country-flag-icon">{{ .GuessCountry.FlagEmoji }}</i>
                            <p class="country-population">Population: {{ WithCommas .GuessCountry.Population }}</p>
                        {{ else }}
                            <p>I couldn't find that country...</p>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </div>
            <search>
                <fieldset>
                    <legend>Guess the Country</legend>
                    {{ if not .Passed }}
                        <form id="guess-country-form" method="POST">
                            <label for="country-guess">Country</label>
                            <input type="text" id="country-guess" name="country-guess" list="country-list" required />
                            <datalist id="country-list">
                                {{ range .Countries }}
                                <option value="{{ .Name.CommonName }}"></option>
                                {{ end }}
                            </datalist>
                        </form>
                        <div class="button-container">
                            <input type="submit" form="guess-country-form" value="Submit Guess"/>
                            <form id="give-up-form" action="/skip_country" method="POST">
                                <input id="give-up-submit" type="submit" value="Give Up!"/>
                            </form>
                        </div>
                    {{ end }}
                    {{ if .Passed }}
                        <form id="next-guess-form" method="GET">
                            <input id="next-guess-submit" type="submit" value="Next Guess"/>
                        </form>
                    {{ end }}
                </fieldset>
            </search>
            {{ if .User }}
                <div class="score-item">
                    <p><strong>Longest Country Streak:</strong> {{ .User.LongestCountryScore }} </p>
                    <div class="progress-bar">
                        <div class="progress" style="width: {{ .User.LongestCountryScore }}%;"></div>
                    </div>
                </div>
                <div class="score-item">
                    <p><strong>Current Country Streak:</strong> {{ .User.CurrentCountryScore }} </p>
                    <div class="progress-bar">
                        <div class="progress" style="width: {{ .User.CurrentCountryScore }}%;"></div>
                    </div>
                </div>
            {{ end }}
        </main>
    </body>
</html>
{{ end }}
