{{ block "guess_capitals" . }}
<!DOCTYPE html>
<html>
    {{ template "header" . }}
    <body>
        <h1>Guess the Capital</h1>
        {{ template "nav" . }}
        {{ template "user-card" . }}
        <main>
            <div class="flag-container">
                {{ if .Passed }}
                    <p>{{ .AnswerCountry.Name.CommonName }}</p>
                    {{ range .AnswerCountry.Capitals }}
                        <p>{{ . }}</p>
                    {{ end }}
                {{ end }}
                <i class="country-flag-icon">{{ .AnswerCountry.FlagEmoji}}</i>
                <p class="country-population">Population: {{ WithCommas .AnswerCountry.Population }}</p>
            </div>
            <div class="flag-container">
                <!-- render guess country -->
                {{ if .GuessCountry }}
                    {{ if .Passed }}
                        <p style="color:green;">Correct! You got it right</p>
                    {{ else }}
                        <p style="color:red;">Wrong! You guessed:</p>
                        {{ if .GuessCountry.Name.CommonName }}
                            <p>{{ .GuessCountry.Name.CommonName }}</p>
                            <i class="country-flag-icon">{{ .GuessCountry.FlagEmoji }}</i>
                            <p class="country-population">Population: {{ WithCommas .GuessCountry.Population }}</p>
                        {{ else }}
                            <p>I couldn't find that capital...</p>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </div>
            <search>
                <fieldset>
                    <legend>Guess the Capital</legend>
                    {{ if not .Passed }}
                        <form id="guess-capital-form" method="POST">
                            <label for="guess-capital">Country</label>
                            <input type="text" id="guess-capital" name="guess-capital" list="country-list" required/>
                            <datalist id="country-list">
                                {{ range .Countries }}
                                    {{ range .Capitals }}
                                    <option value="{{ . }}"></option>
                                    {{ end }}
                                {{ end }}
                            </datalist>
                        </form>
                        <div class="button-container">
                            <input type="submit" form="guess-capital-form" value="Submit Guess"/>
                            <form id="give-up-form" action="/skip_capital" method="POST">
                                <input id="give-up-submit" type="submit" value="Give Up!"/>
                            </form>
                        </div>
                    {{ end }}
                    {{ if .Passed }}
                    <form id="next-guess-form" method="GET">
                        <input id="next-guess-submit" type="submit" value="Next Guess"/>
                    </form>
                    {{ end }}
                </fieldset>
            </search>
            {{ if .User }}
                <div class="score-item">
                    <p><strong>Longest Capital Streak:</strong> {{ .User.LongestCapitalScore }} </p>
                    <div class="progress-bar">
                        <div class="progress" style="width: {{ .User.LongestCountryScore }}%;"></div>
                    </div>
                </div>
                <div class="score-item">
                    <p><strong>Current Capital Streak:</strong> {{ .User.CurrentCapitalScore }} </p>
                    <div class="progress-bar">
                        <div class="progress" style="width: {{ .User.CurrentCountryScore }}%;"></div>
                    </div>
                </div>
            {{ end }}
        </main>
    </body>
</html>
{{ end }}
