{{ block "guess_countries" . }}
<!DOCTYPE html>
<html>
    <body>
        {{ template "header" . }}
        <h1>Guess the Country</h1>
        {{ template "nav" . }}
        <main>
            <div id="result-container">
                {{ if .Passed }}
                <div>{{ .AnswerCountry.Name.CommonName }}</div>
                {{ end }}
                <i class="country-flag-icon">{{ .AnswerCountry.FlagEmoji}}</i>
                <p class="country-population">Population: {{ WithCommas .AnswerCountry.Population }}</p>
            </div>
            <div id="guess-container">
                <!-- render guess country -->
                {{ if .GuessCountry }}
                    {{ if .Passed }}
                        <p>Congrats! You got it right</p>
                    {{ else }}
                        <p>Wrong! You guessed:</p>
                        {{ if .GuessCountry.Name.CommonName }}
                            <p>{{ .GuessCountry.Name.CommonName }}</p>
                            <i class="country-flag-icon">{{ .GuessCountry.FlagEmoji }}</i>
                            <p class="country-population">Population: {{ WithCommas .GuessCountry.Population }}</p>
                        {{ else }}
                            <p>I couldn't find that country...</p>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </div>
            <search>
                <fieldset>
                    <legend>Guess the Country</legend>
                    {{ if not .Passed }}
                        <form id="guess-country-form" method="POST">
                            <label for="country-guess">Country</label>
                            <input type="text" id="country-guess" name="country-guess" list="country-list" required />
                            <datalist id="country-list">
                                {{ range .Countries }}
                                <option value="{{ .Name.CommonName }}"></option>
                                {{ end }}
                            </datalist>
                            <input type="submit" value="Submit Guess"/>
                        </form>
                    {{ end }}
                    <form id="next-guess-form" method="GET">
                        <input id="next-guess-submit" type="submit" value="Next Guess"/>
                    </form>
                </fieldset>
            </search>
        </main>
    </body>
</html>
{{ end }}
