{{ block "guess_countries" . }}
<!DOCTYPE html>
<html>
    <body>
        {{ template "header" . }}
        <h1>Guess the Country</h1>
        {{ template "nav" . }}
        <main>
            {{ if .User }}
                <div id="score-card">
                    <h2>Your Scores</h2>
                    <p>Longest Streak: {{ .User.LongestCountryScore }}</p>
                    <p>Current Streak: {{ .User.CurrentCountryScore }}</p>
                </div>
            {{ end }}
            <div id="result-container">
                {{ if .Passed }}
                <div>{{ .AnswerCountry.Name.CommonName }}</div>
                {{ end }}
                <i class="country-flag-icon">{{ .AnswerCountry.FlagEmoji}}</i>
                <p class="country-population">Population: {{ WithCommas .AnswerCountry.Population }}</p>
            </div>
            <div id="guess-container">
                <!-- render guess country -->
                {{ if .GuessCountry }}
                    {{ if .Passed }}
                    <p><span style="color:green;">Correct!</span> You got it right</p>
                    {{ else }}
                    <p><span style="color:red;">Wrong!</span> You guessed:</p>
                        {{ if .GuessCountry.Name.CommonName }}
                            <p>{{ .GuessCountry.Name.CommonName }}</p>
                            <i class="country-flag-icon">{{ .GuessCountry.FlagEmoji }}</i>
                            <p class="country-population">Population: {{ WithCommas .GuessCountry.Population }}</p>
                        {{ else }}
                            <p>I couldn't find that country...</p>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </div>
            <search>
                <fieldset>
                    <legend>Guess the Country</legend>
                    {{ if not .Passed }}
                        <form id="guess-country-form" method="POST">
                            <label for="country-guess">Country</label>
                            <input type="text" id="country-guess" name="country-guess" list="country-list" required />
                            <datalist id="country-list">
                                {{ range .Countries }}
                                <option value="{{ .Name.CommonName }}"></option>
                                {{ end }}
                            </datalist>
                            <input type="submit" value="Submit Guess"/>
                        </form>
                        <form id="give-up-form" action="/skip_country" method="POST">
                            <input id="give-up-submit" type="submit" value="Give Up!"/>
                        </form>
                    {{ end }}
                    {{ if .Passed }}
                        <form id="next-guess-form" method="GET">
                            <input id="next-guess-submit" type="submit" value="Next Guess"/>
                        </form>
                    {{ end }}
                </fieldset>
            </search>
        </main>
    </body>
</html>
{{ end }}
