{{ block "leaderboard" . }}
<!DOCTYPE html>
<html>
    {{ template "header" . }}
    <body>
        <h1>The Leaderboard</h1>
        {{ template "nav" . }}
        <main>
            <p>Below is a list of all registered users with their high scores.</p>
            <div id="leaderboard">
                <table>
                    <caption>Leaderboard</caption>
                    <thead>
                        <tr>
                            <th scope="col">Username</th>
                            <th scope="col">Country Score</th>
                            <th scope="col">Capital Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range .Users }}
                        <tr>
                            <th scope="row">{{ .Username }}</th>
                            <td>{{ .LongestCountryScore }}</td>
                            <td>{{ .LongestCapitalScore }}</td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
{{ end }}
