<!DOCTYPE html>
<html>
    <head>
        <title>Country Guesser</title>
        <link rel="stylesheet" href="{{ url_for("static", filename="css/flags.css") }}">
        <link
            rel="icon"
            href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22>
            <text y=%22.9em%22 font-size=%2290%22>
            {{ flag_emoji }}
            </text></svg>"
        >
    </head>
    <body>
        <h1>Guess the Country</h1>
        <div id="country-container"></div>
        <div id="result-container"></div>
        <search>
            <fieldset>
                <legend>Guess the Country</legend>
                <form id="guess-country-form">
                    <label for="country-guess">Country</label>
                    <input type="text" id="country-guess" name="country-guess" list="country-list"/>
                    <datalist id="country-list">
                        {% for country in countries %}
                        <option value="{{ country }}"></option>
                        {% endfor %}
                    </datalist>
                    <input type="submit" value="Submit Guess"/>
                    <button id="next-guess" type="button">Next Guess</button>
                </form>
            </fieldset>
        </search>
    </body>
    <script type="module" src="{{ url_for("static", filename="js/guesser.js") }}"></script>
</html>
