<!DOCTYPE html>
<html>
    <head>
        <title>Country Guesser</title>
        <link rel="stylesheet" href="{{ url_for("static", filename="css/flags.css") }}">
    </head>
    <body>
        <h1>Country Guesser</h1>
        <h2>Search By Continent</h2>
        <search>
            <fieldset>
                <legend>Filter for Countries by geography, and sort by a variety of options.</legend>
                <form id="fetch-continents-form">
                    <label for="continent">Continent</label>
                    <input type="text" id="continent" name="continent" list="continents-list"/>
                    <datalist id="continents-list">
                        {% for continent in continents %}
                        <option value="{{ continent }}"></option>
                        {% endfor %}
                    </datalist>
                    <label for="sort-method">Sort by</label>
                    <select name="sort-method" id="sort-method">
                        <option value="alpha">Alphabetically (by common name)</option>
                        <option value="pop">Population</option>
                    </select>
                    <input type="submit" value="Search Continents" />
                </form>
            </fieldset>
        </search>
        <div id="country-container"></div>
    </body>
    <script type="module" src="{{ url_for("static", filename="js/main.js") }}"></script>
</html>
