<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>Country Guesser</title>
        <link rel="stylesheet" href="{{ url_for("static", filename="css/flags.css") }}">
        <link
            rel="icon"
            href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22>
            <text y=%22.9em%22 font-size=%2290%22>
            {{ flag_emoji }}
            </text></svg>"
        >
        {% endblock %}
    </head>
    <body>
    <h1>Country Guesser</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/search_continents">Continents</a></li>
            <li><a href="/guesser">Country Guesser</a></li>
        </ul>
    </nav>
        <main id="main-content">
            {% block content %}
            {% endblock %}
        </main>
    </body>
        {% block scripts %}
        {% endblock %}
</html>
